.card{
    padding: 100px 6%;
    max-width: 1000px;   
}

.title h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.color{
    color: #339dbf;
}

.card-img img{
    width: 400px;
    cursor: pointer;
    border-radius: 4px;
    transition:transform 0.3s ease;
    border: 5px solid #339dbf;
    &&:hover{
        transform: scale(1.05);
    }
    
    
}
.card-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
    list-style: none;  
}

@media (max-width: 800px){
    .card{
        padding: 20px 4%;

        >.title{
            >h1{
                font-size: 30px;
                padding-top: 20px;
            }
        }

        >.card-img{
            padding: 20px 4%;
            flex-direction: column;
            
            align-items: center;
            >img{
                width: 300px;
            }

        }
        
        
    }
}