.about .container{
    padding: 100px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    
    
}
.about .container .about-content{
    align-items: start;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.about-image img{
    border-radius: 5px;
    width:680px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 4px;
    border: 5px solid #339dbf;
    &:hover{
        transform: scale(1.05);
    }
}
.about .container .about-content h4{
    font-size: 40px;
    color:#339dbf ;
}

.about .btn{
    border: 0;
    outline: 0;
    padding: 12px 16px;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: #339dbf;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    &&:hover{
        background: #385a66;
    }
}

@media (max-width: 800px){
    .about .container{
        flex-direction: column-reverse;
        padding-bottom: 0;
        >.about-content{
            font-size: 10px;
            >h4{
                font-size: 30px;
            }
        }
        >.about-image{
            >img{
                width: 400px;
            }
            
        }
    }
}