.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%,
    transparen);
    z-index: 1;
}
.navber-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navber-left img{
    width: 90px;    
}

.navber-left ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navber-left ul li{
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 3px solid #339dbf;
    padding-bottom: 5px;
    
}
.navber-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navber-right .icons{
    width: 30px;
    cursor: pointer;
}
.navber-right .profile{
    width: 35px;
}
.navber-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}
.navber-profile:hover .dropdown{
    display: block;
}
.nav-dark{
    background: #141414;

}

@media (max-width: 800px) {
    .navbar{
        padding: 20px 4%;
    }
    .navber-left ul{
        display: none;
    }
    .navber img{
        height: 25px;
    }
}

@media (max-width: 500px){
    .navber img{
        height: 20px;
    }
    .navber-right{
        gap: 10px;
    }

}