.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;
}
.footer-icons img{
    width: 50px;
    cursor: pointer;
    transition:transform 0.3s ease;
    &&:hover{
        transform: scale(1.2);
    }
    
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}
.copyright-text{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-top: 4px solid #339dbf;
    padding-top: 15px;
}

@media (max-width: 800px) {
    .footer-icons img{
        width: 25px;
    }
    .footer ul{
        grid-template-columns: auto auto;
        gap: 8px;
        font-size: 14px;
    }
}
